<header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="navigation">  
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to "bintang.me", admin_root_path, :class => 'navbar-brand' %>
          
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <%= nav_link 'Blog posts', admin_articles_path, {:class => 'link'}, {:wrapper => 'li', :selected_class => 'active'} %>
            <%= nav_link 'Categories', admin_categories_path, {:class => 'link'}, {:wrapper => 'li', :selected_class => 'active'} %>
            <%= nav_link 'Users', admin_users_path, {:class => 'link'}, {:wrapper => 'li', :selected_class => 'active'} %> 
          </ul>
          <ul class="nav navbar-nav navbar-right">
             <% if user_signed_in? %>
            <li class="dropdown">
              <a href="#" data-toggle="dropdown" class="dropdown-toggle">  <%= current_user.email %> <span class="caret"></span></a>
              <ul class="dropdown-menu">
                    <li align="center"><%= image_tag(current_user.profile.avatar_url(:thumb), :class => "img-rounded") if current_user.profile.avatar? %></li>
                    <li><%= link_to(admin_profile_path(current_user.profile)) do %>
                        <%= current_user.profile.first_name %>&nbsp;profile
                        <% end %>
                        </li>
                    <li><%= link_to 'Change password', edit_admin_user_path(current_user) %></li>
                    <li class="divider"></li>
                   
                    <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %> </li>
                </ul>
            </li>
             <% end %>
          </ul>
        </div>
      </div>
    </header>